header{
    padding: 30px;
    .navbar{
        display: flex;
    }
    .menu-middle{
        display: flex;
        img{
            height: 50px;
        }
    }
    .menu-logo{
        padding: 0px 100px; 
    }
    ul{
        padding: 0px;
        margin: 0px;
        display: flex;
        list-style: none;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            padding: 10px 15px;
        }
    }
    .middle-left,.middle-right{
        display: flex;
        align-items: center;
    }
}