#testimony{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        height: 500px;
        opacity: 0;
    }
    .sl-text{
        margin-bottom: 7% ;
    }
}