*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import "navbar";
@import "pageIntro";
@import "about";
@import "specialties";
@import "menu";
@import "testimony";
@import "team";